@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300);

html {
  font-family: Quicksand;
  scroll-behavior: smooth;
  cursor:none;
}

::selection {
  background: #FFD770;
}

body {
  cursor: none;
}

a {
  cursor:none;
}

.cursor {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: gray;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

nav {
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


#navmenu ul li a.active-page.main
{
  color: white;
  background-color: black;
}


#navmenu ul li a.active-page.education
{
  color: white;
  background-color: #D00000;
}


#divider {
  margin-right: 850px;
  margin-top: -30px;
  margin-left: 40px;
}

.educdiv {
  border-bottom : 1px solid #D00000;
}

.workdiv {
  border-bottom : 1px solid #FFBA08;
}

.skillsdiv {
  border-bottom : 1px solid #D00000;
}

.contactsdiv {
  border-bottom : 1px solid black;
}

#navmenu ul li a.active-page.workexp
{
  color: white;
  background-color: #FFBA08;
}

#navmenu ul li a.active-page.skillspage
{
  color: white;
  background-color: #D00000;
}

#navmenu ul li a.active-page.contacts
{
  color: white;
  background-color: black;
}

.navmenu {
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  width: 100%;
}	

.menu li {
	height: 60%;
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.menu li::before,
.menu li::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.menu li::before,
.menu li:after {
  width: 80%;
  height: 80%;
  opacity: 1;
  transition: all 0.1s cubic-bezier(0.075, 0.83, 0.165, 1);
  border: none;
}

.menu li:hover:before {
  animation: animation 600ms ease forwards;
  border: 1px solid black;
}

.menu li:hover:after {
  animation: animation 600ms 200ms ease forwards infinite;
  border: 1px solid black;
}

@keyframes animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}


section {
	margin-left: 40px;
}

aside {
	margin-left: 40px;
}

footer {
	margin-left: 40px;
}

#menuel{  
  display:inline-block;
  color:  black;
  align-content: left;
}



a{  
  display:block;  
  padding:10px;  
  color:black;  
  text-decoration:none;
}

a {
	color: black;
}

.name {
  font-size: 70px;
  margin-left: 40px;
}



.desc {
  margin-left: 40px;
  font-size: 30px;
}

.columnb {
  background-color: #FFBA08;
}

.photo {
  background: #FFBA08;
  margin-right: 35px;
  float: right;
  width: 80%;
  height: 80%;
  z-index: -1;
}

/*EDUCATION HISTORY CODE*/

.eduintro {
  font-size: 50px;
  margin-left: 40px;
}

.edu {
  font-size: 30px;
  margin-left: 55px;
}

.year {
  font-size: 20px;
  margin-left: 55px;
}

.edudesc {
  margin-left: 65px;
}

#nuimg {
  margin-top: 50px;
  width: 80%;
  height: 80%;
}

#ktl {
  margin-top: 300px;
}

#ktlimg {
  margin-top: 40px;
  width: 80%;
  height: 80%;
}

#school {
  margin-top: 240px;
}

#schoolimg {
  margin-top: 40px;
  width: 80%;
  height: 80%;
}

/*WORK EXPERIENCE CODE*/

.workintro {
  font-size: 50px;
  margin-left: 40px;
}

.workpos {
  font-size: 30px;
  margin-left: 55px;
}

.workplace {
  font-size: 20px;
  margin-left: 55px;
}

.workdesc {
  margin-left: 65px;
}

/*Skills CODE*/

.skillsintro {
  font-size: 40px;
  margin-left: 40px;
}

.skillsdesc {
  margin-left: 55px;
}

/*contact me CODE*/

.conintro {
  font-size: 40px;
  margin-left: 40px;
}

.condesc {
  margin-left: 55px;
}

.socmedia {
  margin-left: 65px;
}

/*fafa*/

.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-youtube:hover {
  background: #bb0000;
}

.fa-linkedin:hover {
  background: #007bb5;
}

.fa-instagram:hover {
  background: linear-gradient(#e66465, #9198e5);
}

.fa-google:hover {
  background: #dd4b39;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-youtube {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}


.fa-instagram {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

/*column */

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.topnav{
  display: none;
}

@media screen and (max-width: 800px) {
  .navmenu {
    display: none;
  }
  .column {
    width: 100%;
  }
  .topnav {
    display: block;
    overflow: hidden;
    background-color: black;
    color: white;
  }

  .topnav a {
    background-color: black;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.063rem;
  }

  .topnav a:hover {
    background-color: #a594f9;
    color: black;
  }


  .topnav .icon {
    display: none;
  }
  .topnav a:not(:first-child) {display: none;}  
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media screen and (max-width: 800px) {
  section {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .photo {
    margin-left: 50px;
    float: none;
    align-items: center;
  }
  .eduintro {
    font-size: 50px;
    margin-left: 10px;
  }

  .edu {
    font-size: 30px;
    margin-left: 25px;
  }

  .year {
    font-size: 20px;
    margin-left: 25px;
  }

  .edudesc {
    margin-left: 35px;
  }

  .workintro {
    font-size: 50px;
    margin-left: 20px;
  }

  .workpos {
    font-size: 30px;
    margin-left: 35px;
  }

  .workplace {
    font-size: 20px;
    margin-left: 35px;
  }

  .workdesc {
    margin-left: 25px;
  }
  .skillsintro {
    font-size: 40px;
    margin-left: 10px;
  }

  .skillsdesc {
    font-size: 18px;
    margin-left: 15px;
  }

  .conintro {
    font-size: 40px;
    margin-left: 20px;
  }

  .condesc {
    margin-left: 25px;
  }

  .socmedia {
    margin-left: 35px;
  }
  .address {
    margin-left: 25px;
  }
  .mapouter {
    margin-left: 10px;
  }
}

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: -20%;
  z-index: 0;
  width: 95%;
  background-color: #0f0f10;
  height: 15%;
}

